/*.documentsGrid .tableHeader div,*/
/*.documentsGrid .tableRow div*/
/*{*/
    /*display: inline-block;*/
    /*margin: 4px;*/
/*}*/

/*.documentsGrid .id {*/
    /*width: 30px;*/
/*}*/
/*.documentsGrid .category {*/
    /*width: 140px;*/
/*}*/
/*.documentsGrid .name {*/
    /*width: 140px;*/
/*}*/

