<div id="edit-document-form" title="Edit document">
    <form>
        <fieldset>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
            <%= categorySelector %>
            <label for="description">Description</label>
            <input type="text" name="description" id="description" value="" class="text ui-widget-content ui-corner-all">
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>


<div id="documents-contain" class="ui-widget">
</div>
<button id="edit-document">Edit document</button>
<button id="delete-document">Delete document</button>